<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/headAdmin.ejs') %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 menager">
                <div class="header-banner fw-bold">
                    <div id="data_main" class="text-primary text-uppercase" onclick="turn_on(1)"><span><i
                                class="fa fa-folder-open-o" aria-hidden="true"></i></span> Dữ liệu gốc</div>
                    <div id="options01">
                        <p>Kế hoạch lựa chọn nhà thầu</p>
                        <p>Thông tin đấu thầu</p>
                        <p>Mở/đóng/chấm thầu</p>
                        <p>kết quả đấu thầu</p>
                        <p>Các bên liên quan</p>
                    </div>
                    <div id="bitdata" class="text-primary text-uppercase" onclick="turn_on(2)"><span><i
                                class="fa fa-folder-open-o" aria-hidden="true"></i></span> Thống kê bitdata</div>
                    <div id="options02">
                        <p>Quản lý danh mục sản phẩm</p>
                        <a href="thongKeOto.html">
                            <p>Báo cáo sản phẩm bán chạy</p>
                        </a>
                        <a href="trangThaiMua.html">
                            <p>Trạng thái đơn hàng</p>
                        </a>
                        <p>Biểu đồ thống kê</p>
                    </div>
                    <div id="menagerment" class="text-primary text-uppercase" onclick="turn_on(3)"><span><i
                                class="fa fa-folder-open-o" aria-hidden="true"></i></span> Quản trị</div>
                    <div id="options03">
                        <a href="taikhoanKH.html">
                            <p>Người dùng</p>
                        </a>
                        <div class="show_Nguoi_dung">
                            <a href="khachHang.html">
                                <p> Đăng kí lái xe</p>
                            </a>
                            <p>Quản lý danh mục ô tô</p>
                        </div>
                        <p>Chức năng hệ thống</p>
                        <p>Danh mục dùng chung</p>
                        <p>Từ khóa</p>
                        <a href="Trangchu.html">
                            <p>Quay lại trang chủ</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 main-header">
            </div>
        </div>
    </div>
</body>

</html>
<!-- <script type="text/javascript" src="assets/public-VN/jscript/khachHang.js"></script> -->
<script type="text/javascript" src="assets/public-VN/jscript/menagerment.js"></script>
