<!DOCTYPE html>
<html lang="en">

    <%- include('layouts/headAdmin.ejs') %>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- left -->
            <%- include('layouts/leftAdmin.ejs') %>
            <!-- right -->
            <div class="col-md-10 main-header">
                <h3><span><i class="fa fa-calendar text-danger" aria-hidden="true"></i></span> Trạng thái đơn hàng
                </h3>
                <div class="row header">
                    <div class="col">
                        <label for="toTime">Từ ngày</label>
                        <input type="date" name="" id="toTime">
                    </div>
                    <div class="col">
                        <label for="fromTime">Đến ngày</label>
                        <input type="date" name="" id="fromTime">
                    </div>
                    <div class="col">
                        <label for="warehouse">Kho hàng</label>
                        <select name="" id="warehouse">
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                        </select>
                    </div>
                </div>
                <!-- biểu đồ canvas -->
                <div class="row header">
                    <div class="col-md-9">
                        <input itemid="search" type="text" name="" id="search" onkeyup="search()"
                            placeholder="tìm kiếm sản phẩm...">
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-toggle="dropdown" aria-expanded="false">
                                Sắp xếp thông tin
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#" onclick="sortHeight()">SỐ LƯỢNG(cao=>thấp)</a></li>
                                <li><a class="dropdown-item" href="#" onclick="sortLow()">SỐ LƯỢNG(thấp=>cao)</a></li>
                                <li><a class="dropdown-item" href="#" onclick='sortABC()'>TÊN SẢN PHẨM</a></li>
                                <li><a class="dropdown-item active" href="#" onclick="sortHeightMoney()">a</a></li>
                                <li><a class="dropdown-item" href="#" onclick="sortLowMoney()">b</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- trạng thái -->
                <div class="row header ">
                    <div class="col">
                        <div class="btn text-danger">
                            <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span> Trạng thái đơn hàng
                        </div>
                    </div>
                    <div class="col btn">
                      <div class="btn text-primary" id="xacnhan" ><span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> chờ xác nhận</div>
                    </div>
                    <div class="col">
                        <div class="btn text-primary" id='dangvanchuyen' ><span><i class="fa fa-truck" aria-hidden="true"></i></span> đang vận chuyển</div>
                    </div>
                    <div class="col">
                        <div class="btn text-primary" id="dagiao" ><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span> đã giao</div>
                    </div>
                    <div class="col">
                        <div class="btn text-primary" id="dahuy" ><span><i class="fa fa-times-circle" aria-hidden="true"></i></span> đã hủy</div>
                    </div>
                    
                </div>
                <!--  bảng table -->
                <div class="row header">
                    <table class="table table-sm table-striped table-hover table-bordered" id="sanpham">
                        <thead class="text-center" >
                            <tr class="text-uppercase">
                                <th>#STT</th>
                                <th>Hình ảnh</th>
                                <th>MaSP</th>
                                <th>tên sản phẩm</th>
                                <th>Tiền(VNĐ)</th>
                                <th>TT khách hàng</th>
                                <th>Xác nhận</th>
                                <th>Hủy <span class="text-danger">*</span></th>
                            </tr>
                        </thead>
                        <tbody id="sale">
                        </tbody>
                    </table>
                    <table class="table table-sm table-striped table-hover table-bordered" id="khachHang">
                        <thead class="text-center" >
                            <tr class="text-uppercase">
                                <th>#STT</th>
                                <th>Hình ảnh</th>
                                <th>MaSP</th>
                                <th>tên sản phẩm</th>
                                <th>Tiền(VNĐ)</th>
                                <th>TT khách hàng</th>
                                <th>Đã giao</th>
                                <th>Hủy <span class="text-danger">*</span></th>
                                
                            </tr>
                        </thead>
                        <tbody id="sale01">
                        </tbody>
                    </table>
                    <table class="table table-sm table-striped table-hover table-bordered" id="DHdaGiao">
                        <thead class="text-center" >
                            <tr class="text-uppercase">
                                <th>#STT</th>
                                <th>Hình ảnh</th>
                                <th>MaSP</th>
                                <th>tên sản phẩm</th>
                                <th>Tiền(VNĐ)</th>
                                <th>TT khách hàng</th>
                                <th>Xác nhận</th>
                                <th>Hủy <span class="text-danger">*</span></th>
                            </tr>
                        </thead>
                        <tbody id="sale02">
                        </tbody>
                    </table>
                    <table class="table table-sm table-striped table-hover table-bordered" id="DHdaHuy">
                        <thead class="text-center" >
                            <tr class="text-uppercase">
                               <th>#STT</th>
                                <th>Hình ảnh</th>
                                <th>MaSP</th>
                                <th>tên sản phẩm</th>
                                <th>Tiền(VNĐ)</th>
                                <th>TT khách hàng</th>
                                <th>Xác nhận</th>
                            </tr>
                        </thead>
                        <tbody id="sale03">
                        </tbody>
                    </table>
                    <!--  table thông tin khách hàng mua ô tô -->
                    <table class="table table-sm table-striped table-hover table-bordered" id="KhachHang_Mua">
                        <thead class="text-center" >
                            <tr class="text-uppercase">
                                <th>#Mã KH</th>
                                <th>Họ & Tên</th>
                                <th>CMND/CCCD</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th><span class="px-3 text-primary"><i class="fa fa-repeat" aria-hidden="true"></i></span> Chú thích</th>
                            </tr>
                        </thead>
                        <tbody id="sale04">
                        </tbody>
                    </table>
                </div>

                <!-- /col-md-10 -->
            </div>


            <!-- <div class="container"> -->

            <!-- </div> -->
        </div>
    </div>
</body>

</html>
<script src="../jscript/trangThai.js"></script>